@import "tailwindcss";
@import "../../../web/src/styles/tokens.css";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";

:root,
.dark {
  --color-fd-background: var(--background);
  --color-fd-foreground: var(--foreground);
  --color-fd-muted: var(--muted);
  --color-fd-muted-foreground: var(--muted-foreground);
  --color-fd-popover: var(--popover);
  --color-fd-popover-foreground: var(--foreground);
  --color-fd-card: var(--card);
  --color-fd-card-foreground: var(--foreground);
  --color-fd-border: var(--border);
  --color-fd-primary: var(--primary);
  --color-fd-primary-foreground: var(--primary-foreground);
  --color-fd-secondary: var(--secondary);
  --color-fd-secondary-foreground: var(--secondary-foreground);
  --color-fd-accent: var(--accent);
  --color-fd-accent-foreground: var(--accent-foreground);
  --color-fd-ring: var(--ring);
  --color-fd-overlay: color-mix(in oklab, var(--barrier) var(--opacity-barrier), transparent);
  --color-fd-info: var(--process);
  --color-fd-warning: var(--warning);
  --color-fd-error: var(--destructive);
  --color-fd-success: var(--success);
  --color-fd-idea: var(--wait);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

body {
  font-family: var(--font-sans);
}
