@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
}

html,
body {
  scroll-padding-top: 5rem;
}

a:focus,
button:focus {
  outline: none;
}

.font-mono {
  font-family: var(--font-mono);
}

.font-sans {
  font-family: var(--font-sans);
}

pre {
  font-family: var(--font-mono);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rdp-vhidden {
  visibility: hidden;
  position: absolute;
}

/* Hide the clear "X" button for the input[type="search"] */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* For Firefox */
input[type="search"]::-moz-search-cancel-button {
  display: none;
}

/* (Optional) For Edge and other modern browsers */
input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

::selection {
  background: hsl(var(--top-loader) / 0.5);
  color: hsl(var(--foreground) / 1);
}

@layer base {
  :root {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    /* This is for dev only to test safe area */
    /* --safe-area-inset-bottom: 34px; */
    --background: 120 35% 95%;
    --background-hover: 120 35% 95%;
    --foreground: 120 90% 5%;
    --card: 120 35% 95%;
    --card-foreground: 120 90% 5%;
    --popover: 120 35% 95%;
    --popover-foreground: 120 90% 5%;
    --primary: 120 90% 5%;
    --primary-foreground: 120 35% 95%;
    --secondary: 120 20% 85%;
    --secondary-foreground: 120 90% 5%;
    --muted: 120 20% 85%;
    --muted-foreground: 120 10% 35%;
    --muted-more-foreground: 120 10% 50%;
    --accent: 120 20% 85%;
    --accent-foreground: 120 90% 5%;
    --destructive: 0 84% 30%;
    --destructive-foreground: 120 35% 95%;
    --warning: 40 100% 25%;
    --warning-foreground: 120 35% 95%;
    --success: 120 85% 20%;
    --success-foreground: 120 35% 95%;
    --shadow: 120 30% 4%;
    --border: 120 20% 85%;
    --input: 120 35% 95%;
    --ring: 120 90% 5%;
    --radius: 0.5rem;
    --chart-1: 210 90% 30%;
    --chart-2: 160 100% 23%;
    --chart-3: 300 60% 40%;
    --chart-4: 35 90% 40%;
    --chart-5: 0 70% 40%;
    --chart-6: 190 80% 35%;
    --chart-7: 120 70% 35%;
    --chart-8: 330 75% 40%;
    --chart-9: 270 60% 30%;
    --chart-10: 20 90% 30%;

    --link-chip: 210 100% 18%;

    --top-loader: 120 100% 30%;

    --google: 120 90% 5%;
    --google-foreground: 0 0% 100%;
    --discord: 235 86% 65%;
    --discord-foreground: 0 0% 100%;
    --github: 120 90% 5%;
    --github-foreground: 0 0% 100%;
    --email: 160 100% 24%;
    --email-foreground: 0 0% 100%;
    --x: 120 90% 5%;
    --x-foreground: 0 0% 100%;

    --nextjs: 120 90% 5%;
    --umami: 120 90% 5%;
    --astro: 120 90% 5%;
    --ghost: 120 90% 5%;
    --pocketbase: 120 90% 5%;

    --go: 192 93% 35%;
    --meilisearch: 346 90% 60%;
    --minio: 349 60% 49%;
    --mysql: 206 45% 40%;
    --postgresql: 210 50% 40%;
    --redis: 5 70% 47%;
    --rust: 10 79% 51%;
    --svelte: 10 100% 45%;
    --clickhouse: 60 100% 25%;
    --docker: 220 81% 46%;
    --strapi: 241 100% 64%;
    --mongodb: 145 100% 35%;
    --n8n: 346 80% 45%;

    --barrier: 120 30% 4%;
    --opacity-barrier: 0.7;
    --opacity-shadow: 0.06;
  }

  .dark {
    --background: 120 9% 6%;
    --background-hover: 120 7% 8%;
    --foreground: 120 100% 97%;
    --card: 120 9% 6%;
    --card-foreground: 120 100% 97%;
    --popover: 120 7% 8%;
    --popover-foreground: 120 100% 97%;
    --primary: 120 100% 97%;
    --primary-foreground: 120 9% 6%;
    --secondary: 120 5% 12%;
    --secondary-foreground: 120 100% 97%;
    --muted: 120 5% 12%;
    --muted-foreground: 120 6% 65%;
    --muted-more-foreground: 120 6% 40%;
    --accent: 120 5% 12%;
    --accent-foreground: 120 100% 97%;
    --destructive: 0 80% 69%;
    --destructive-foreground: 120 9% 6%;
    --warning: 40 60% 55%;
    --warning-foreground: 120 9% 6%;
    --success: 120 40% 60%;
    --success-foreground: 120 9% 6%;
    --shadow: 120 11% 3%;
    --border: 120 5% 12%;
    --input: 120 7% 8%;
    --ring: 120 100% 97%;

    --chart-1: 200 90% 55%;
    --chart-2: 130 80% 70%;
    --chart-3: 275 90% 75%;
    --chart-4: 25 75% 65%;
    --chart-5: 0 90% 70%;
    --chart-6: 200 80% 70%;
    --chart-7: 80 85% 60%;
    --chart-8: 320 60% 60%;
    --chart-9: 250 100% 75%;
    --chart-10: 40 80% 65%;

    --link-chip: 210 100% 85%;

    --top-loader: 120 70% 70%;

    --google: 120 100% 97%;
    --google-foreground: 120 9% 6%;
    --discord: 235 86% 65%;
    --discord-foreground: 120 100% 97%;
    --github: 120 100% 97%;
    --github-foreground: 120 9% 6%;
    --email: 160 68% 60%;
    --email-foreground: 120 9% 6%;
    --x: 120 100% 97%;
    --x-foreground: 120 9% 6%;

    --nextjs: 120 100% 97%;
    --umami: 120 100% 97%;
    --astro: 120 100% 97%;
    --pocketbase: 120 100% 97%;
    --ghost: 120 100% 97%;

    --go: 192 93% 55%;
    --meilisearch: 346 100% 67%;
    --minio: 349 60% 49%;
    --mysql: 206 55% 65%;
    --postgresql: 210 46% 60%;
    --redis: 4 75% 60%;
    --rust: 10 79% 51%;
    --svelte: 10 100% 65%;
    --clickhouse: 62 100% 71%;
    --docker: 220 81% 60%;
    --strapi: 241 100% 75%;
    --mongodb: 145 100% 47%;
    --n8n: 346 79% 61%;

    --barrier: 120 10% 4%;
    --opacity-barrier: 0.75;
    --opacity-shadow: 0.6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
